$white: #ffffff;
$black: #000000;
$blue: #1698D9;
$blue_hover: #2EA8E6;
$magenta: #D91667;
$magenta_hover: #E52E7A;
$grey: #B3B3B3;
$grey_2: #979797;
$grey_3: #B3B3B3;
$grey_4: #666666;
$light_yellow: #FFFF66;
